{ % load static % }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% inclue 'includes/topo.html' %}
    <div class="'container-contato">
        <div>
            <h3>Contato</h3>
            <form action=""method="post">
                <label for="nome">Home</label>
                <labe type="text" id="name" name="name" placeholder="Digite o seu nome" required></labe>
                <br>
                
                <labe type="text" id="email" name="email" placeholder="Digite o seu nome" required></labe>
                <label for="email">Home</label>    
            </form>
        </div>
    </div>
    
</body>
</html>