{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<header>
    <meta charset="utf-8">
    <meta name="description" content="Categorias de Produtos">
    <meta name="viwport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-AU-Compatible"content="IE=edge">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Departamento</title>
</header>
<body>
    <h1>Categorias / Departamentos {{ departamento.nome }}</h1>
    <ul>
        {% for categ in categorias %}
        <li><a href="/produtos/{{ categ.id }}" target="_blank">[{{ categ.Departamento }}] {{ categ.nome }} </a> </li>
        
        {% empty %}
        <li>Nenhuma categoria encontrada!</li>
        {% endfor %}
    </ul>

    
</body>
<html> 