<!DOCTYPE html>
<html lang="pt-br">
<header>
    <meta charset="utf-8">
    <meta name="description" content="Categorias de Produtos">
    <meta name="viwport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-AU-Compatible"content="IE=edge">
    <title>Departamento</title>
</header>
<body>
    <h1>Senac Store</h1>
    <ul>
        {% for depto in departamentos %}
        <li><a href="/categorias/{{ depto.id }}" target="_blank"> {{ depto.nome }} </a> </li>
        
        {% endfor %}
    </ul>

    
</body>
<html>    