<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <table border='1'>
        <tr>
            {% for pdt in produtos %}
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Estoque</th>
        </tr>
        <tr>
            {% for pdt in produtos %}
            <th>Produto A</th>
            <th>Categoria 1</th>
            <th>R$ 10,00</th>
            <th>50</th>
        </tr>
        <tr>
            {% for pdt in produtos %}
            <th>Produto B</th>
            <th>Categoria 2</th>
            <th>R$ 28,50</th>
            <th>8</th>
        </tr>
        <tr>
            {% for pdt in produtos %}
            <th>Produto C</th>
            <th>Categoria 3</th>
            <th>R$ 105,90</th>
            <th>9</th>
        </tr>
           

            
</body>
</html>