{ % load static % }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Produtos</title>

</head>
<body>
    <h1 text-align="center">Produtos / Categorias {{ categorias.nome }}</h1>
    <table border='1' width="1000">
        <tr>
            
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Imagens</th>

        </tr>
        {% for pdt in produtos %}
            <td>{{ pdt.nome }}</td>
            <td>{{ pdt.categoria }}</td>
            <td>{{ pdt.preco }}</td>
            <td>{{ pdt.estoque }}</td>
            <td><img src="{{ pdt.imagem.url }}"width="80"></td>
            <td>
                {% if pdt.lancamento == True %}
                    Lançamento!
                {% endif %}
            </td>    
        </tr>
        
    </table>  

            
</body>
</html>